{% load static %}
<script src="{% static 'js/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/light-bootstrap-dashboard.js' %}" type="text/javascript"></script>
<script src="{% static 'js/demo.js' %}"></script>
<!-- plugins -->
<script src="{% static 'js/plugins/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap-switch.js' %}"></script>
<script src="{% static 'js/plugins/chartist.min.js' %}"></script>
<script src="{% static 'js/plugins/nouislider.min.js' %}"></script>
