{% extends "base.html" %}

{% block content %}
<div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-12">
                                    <div class="card card-plain table-plain-bg">
                                        <div class="card-header ">
                                            <h4 class="card-title">{{name}}</h4>
                                            <hr>
                                        </div>
                                        <div class="card-body table-full-width table-responsive">
                                                <pre>{{content}}</pre>  
                                        </div>
                                    </div>
                                </div>
                    </div> 
                </div>
            </div>
{% endblock %}