{% load static %}
<div class="sidebar" data-image="{% static 'img/sidebar-4.jpg' %}" data-color="orange">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        Robot
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <!-- <li>
                        <a class="nav-link active" href="./user.html">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li> -->
                    <li>
                        <a class="nav-link" href="/tests-list/">
                            <i class="nc-icon nc-notes"></i>
                            <p>Tests List</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/last-results/">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Results</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/settings/">
                            <i class="nc-icon nc-preferences-circle-rotate"></i>
                            <p>Settings</p>
                        </a>
                    </li>
                    <!-- <li>
                        <a class="nav-link" href="./maps.html">
                            <i class="nc-icon nc-pin-3"></i>
                            <p>Maps</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="./notifications.html">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Notifications</p>
                        </a>
                    </li> -->
                    <!-- <li class="nav-item active active-pro">
                        <a class="nav-link active" href="upgrade.html">
                            <i class="nc-icon nc-alien-33"></i>
                            <p>Upgrade to PRO</p>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>